{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/call.css' %}">
{% endblock %}
{% block title %}Chat Room{% endblock title %}

{% block content %}
<div class="chat-container">
    <div class="sidebar">
        <h3 class="members-title">Участники</h3>
        <ul id="members" class="members-list">
            {% for profile_member in profile_members %}
                <a href="{{ profile_member.get_absolute_url }}">
                    <li id="members-{{ profile_member.slug }}" class="member-item">
                        {{ profile_member.user.username }}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
    
    <div class="chat-area">

        <div id="chat-log">
          {% for message_event in message_and_event_list %}
            {% if message_event.author %}
              <div class="message {% if message_event.author == request.user %}own-message{% endif %}" data-message-id="{{ message_event.id }}">
                <div class="message-user">
                  <a href="{{ message_event.author.profile.get_absolute_url }}">
                    <img src="{{ message_event.author.profile.avatar.url|default:'/static/images/default.png' }}" 
                         class="message-avatar">
                    <span class="message-author">{{ message_event.author.username }}</span>
                  </a>
                </div>
                <div class="message-content">
                  {% if message_event.reply_to %}
                  <div class="reply-preview">
                    <span class="reply-to">Ответ {{ message_event.reply_to.author.username }}:</span>
                    <div class="reply-content">{{ message_event.reply_to.content|truncatechars:50 }}</div>
                  </div>
                  {% endif %}
                  <div class="message-bubble">{{ message_event.content }}</div>
                  <div class="message-footer">
                    <span class="message-time">{{ message_event.timestamp|time:"H:i" }}</span>
                    {% if message_event.author != request.user %}
                    <button class="reply-btn" data-reply-to="{{ message_event.id }}" data-username="{{ message_event.author.username }}">
                      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                      </svg>
                    </button>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% else %}
              <div class="system-message">
                {{ message_event }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
        <div class="input-area">
          <div id="reply-info" style="display: none;">
            <div class="reply-info">
              <span>Ответ пользователю <span id="reply-username"></span></span>
              <button id="cancel-reply" class="cancel-reply-btn">×</button>
            </div>
          </div>
          <div class="message-input-container">
            <input id="chat-message-input" type="text" class="message-input" placeholder="Напишите сообщение...">
            <input type="hidden" id="reply-to-id" value="">
            <button id="chat-message-submit" class="send-button">Отправить</button>
          </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script src="{% static 'js/peerjs.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}