<!-- HTML шаблон -->
{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}
{% block title %}Chat Room{% endblock title %}

{% block content %}
<div class="chat-container">
    <div class="sidebar">
        <h3 class="members-title">Участники</h3>
        <ul id="members" class="members-list">
            {% for profile_member in profile_members %}
                <a href="{{ profile_member.get_absolute_url }}">
                    <li id="members-{{ profile_member.slug }}" class="member-item">{{ profile_member.user.username }}</li>
                </a>
            {% endfor %}
        </ul>
    </div>
    
    <div class="chat-area">
        <div id="chat-log">
          {% for message_event in message_and_event_list %}
            {% if message_event.author %}
              <div class="message {% if message_event.author == request.user %}own-message{% endif %}">
                <div class="message-user">
                  <a href="{{ message_event.author.profile.get_absolute_url }}">
                    <img src="{{ message_event.author.profile.avatar.url|default:'/static/images/default.png' }}" 
                         class="message-avatar">
                    <span class="message-author">{{ message_event.author.username }}</span>
                  </a>
                </div>
                <div class="message-content">
                  <div class="message-bubble">{{ message_event.content }}</div>
                  <span class="message-time">{{ message_event.timestamp|time:"H:i" }}</span>
                </div>
              </div>
            {% else %}
              <div class="system-message">
                {{ message_event }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
        <div class="input-area">
          <input id="chat-message-input" type="text" class="message-input" placeholder="Напишите сообщение...">
          <button id="chat-message-submit" class="send-button">Отправить</button>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static "js/group.js" %}"></script>
{% endblock %}